<h2>Show quote</h2>

<ul>

  <li>
    <strong>Quote:</strong>
    <%= @quote.quote %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @quote.author %>
  </li>

</ul>

<%= link "Back", to: quote_path(@conn, :index) %>