use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
config :cloudtestapp, Cloudtestapp.Endpoint,
  secret_key_base: "XZB9W11AHr8HdVq9McqnAMvHuUEpeYv9l44XbKTg+fRhheFQbPHhAntDeWax0afb"

# Configure your database
config :cloudtestapp, Cloudtestapp.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  hostname: "localhost",
  database: "cloudtestapp_prod",
  size: 20 # The amount of database connections in the pool
